#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole-thing {
  outline-style: solid;
  outline-width: 2px;
  outline-color: orange;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  align-items: center 

}

.bubble-chart-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  width: 45%;
  Height: 500px;
  align-items: center 


}

.year-selector {
  outline-style: solid;
  outline-width: 2px;
  outline-color: red;
  display: flex;
  justify-content: space-evenly;
  width: 65%

}

.polluter-map-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: yellow;
  width: 50%
}



.leaflet-container {
  height: 400px; /* Or any other desired height */
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
