#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole-thing {
  background-color: #121212;
  outline-style: solid;
  outline-width: 2px;
  outline-color: orange;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  align-items: center;
  width: 100%;

}

.my-button {
  font-size: 10px;
}

.my-image {
  width: 80%;
  height: 100%;
}

.bubble-chart-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: blue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 45%;
  align-items: center 

}

.image-and-breakdown-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  align-items: center 
}

.allowance-breakdown-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: green;
  width: 90%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.year-selector {
  outline-style: solid;
  outline-width: 2px;
  outline-color: red;
  display: flex;
  gap: 10px;
  width: 65%;
  justify-content: space-evenly;
  align-items: center 

}

.polluter-map-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: yellow;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 15px;
}

.polluter-card-container {
  outline-style: solid;
  outline-width: 2px;
  outline-color: cyan;
  padding: 10px;
}

.polluter-cards {
  outline-style: solid;
  outline-width: 2px;
  outline-color: magenta;
}

.leaflet-container {
  height: 400px; /* Or any other desired height */
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
